:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 960px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

article {
  position: absolute;
  bottom: 15px; /* pushes the box upward from the bottom */
  left: 48%;
  transform: translateX(-50%);
  background-color: var(--accent2-color, #e9c46a);
  padding: 16px;
  gap: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  width: 900px;
  opacity: 0.9;

}

.socialmedia {
    width: 32px;
    
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
}

h2 {
    text-align: center;
}

.hero article img {
    float: right;
    width: 100px;
    border: 1px solid black;
    box-shadow: 0 0 15px gray;
}

footer {
   padding: 20px;
}

footer p {
  margin-bottom: 10px;
  color: #000;
}

.socialmedia a {
  display: inline-block;       /* makes the icons line up side by side */
  margin: 0 8px;               /* space between icons */
}

.socialmedia img {
  width: 40px;
  height: 40px;
  border-radius: 50%;          /* makes them circular */
  vertical-align: middle;      /* keeps them aligned properly */
  transition: transform 0.3s;
}