:root {
    --primary-color:darkblue;
    --nav-color:white;
    --padding: 1rem;
    --border: 1px solid black;
}


nav {
    background-color: var(--primary-color);
    padding: var(--padding)
}

nav a {
    color: white;
    display: block;
    padding: var(--padding)
}

h1 {
    color: var(--primary-color)
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 960px;
}

aside {
width: 320px;
margin:18px;
border: 1px solid whitesmoke;
padding: 16px;
background-color:whitesmoke;
color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    text-align: center;
    border-top: var(--border);
}