nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 960px;
}

aside {
width: 320px;
margin:18px;
border: 1px solid whitesmoke;
padding: 16px;
background-color:eeeeee;
color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid #000;
}