* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color:darkblue;
    --nav-color:white;
    --padding: 1rem;
    --border: 1px solid black;
}


nav {
    background-color: var(--primary-color);
    padding: var(--padding)
}

nav a {
    color: white;
    display: block;
    padding: var(--padding)
}

h1 {
    color: var(--primary-color)
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main {
    max-width: 960px;
}

aside {
width: 250px;
padding: 16px;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
  position: absolute;
  left: 50px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    text-align: center;
    border-top: var(--border);
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}